<template>
  <section class="section">
    <div class="container is-fluid">
      <!-- Not for the first MVP
      <div class="columns">
        <div class="column">
          <b-field>
            <b-select placeholder="Show only...">
              <option>Python</option>
              <option>Javascript</option>
              <option>CSS</option>
            </b-select>
          </b-field>
        </div>
      </div> 
      -->
      <div v-if="!issues.length" class="columns is-multiline">
        <div
          v-for="n in 8"
          :key="n"
          class="column is-one-third is-one-quarter-fullhd"
        >
          <content-loader height="200"></content-loader>
        </div>
      </div>
      <div class="columns is-multiline">
        <div
          v-for="issue in issues"
          :key="issue.id"
          class="column is-one-third is-one-quarter-fullhd"
        >
          <Issue
            :project="issue.project"
            :title="issue.title"
            :created-at="issue.createdAt"
            :url="issue.url"
            :description="issue.description"
          />
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { ContentLoader } from 'vue-content-loader'
import projects from '~/projects'
import Issue from './Issue.vue'

export default {
  name: 'AppBody',
  components: {
    ContentLoader,
    Issue
  },
  data() {
    return {
      issues: []
    }
  },
  async created() {
    const issues = await Promise.all(
      projects.map(project => getIssuesFromApi(this.$axios, project))
    )
    // FIXME: Use .flat() with babel
    const flatIssues = issues.reduce((acc, val) => acc.concat(val), [])
    this.issues = flatIssues
  }
}

const getIssuesFromApi = async ($axios, project) => {
  let issues = []
  if (project.provider === 'gitlab') {
    issues = await getIssuesFromGitlabApi($axios, project)
  } else if (project.provider === 'github') {
    issues = await getIssuesFromGithubApi($axios, project)
  } else {
    console.error('Invalid provider')
  }
  return Promise.resolve(issues)
}

const getIssuesFromGitlabApi = async ($axios, project) => {
  const apiIssues =
    (await $axios
      .$get(
        `https://gitlab.com/api/v4/projects/${encodeURIComponent(
          project.name
        )}/issues?state=opened&labels=socialissues.tech`
      )
      .catch(error => {
        console.error(error)
      })) || []

  return apiIssues.map(issue => {
    return {
      id: `${project.name}-${issue.iid}`,
      project: project.name,
      title: issue.title,
      createdAt: new Date(issue.created_at),
      url: issue.web_url,
      description: issue.description
    }
  })
}

const getIssuesFromGithubApi = async ($axios, project) => {
  const apiIssues =
    (await $axios
      .$get(
        `https://api.github.com/repos/${
          project.name
        }/issues?state=open&labels=socialissues.tech`
      )
      .catch(error => {
        console.log(error)
      })) || []

  return apiIssues.map(issue => {
    return {
      id: `${project.name}-${issue.number}`,
      project: project.name,
      title: issue.title,
      createdAt: new Date(issue.created_at),
      url: issue.html_url,
      description: issue.body
    }
  })
}
</script>

<style scoped>
.control {
  text-align: center;
}
</style>
