<template>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <span>
          <strong>socialissues.tech</strong> {{ $t('footer_join_us') }}
        </span>
        <span>
          {{ $t('source_licensed') }}
          <a
            href="http://opensource.org/licenses/mit-license.php"
            target="_blank"
            rel="noopener"
            >MIT</a
          >.
        </span>
        <span>
          {{ $t('website_licensed') }}
          <a
            href="http://creativecommons.org/licenses/by-nc-sa/4.0/"
            target="_blank"
            rel="noopener"
            >CC BY NC SA 4.0</a
          >.
        </span>
      </p>
    </div>
    <div class="copntent has-text-centered">
      <nuxt-link
        v-for="locale in availableLocales"
        :key="locale.code"
        :to="switchLocalePath(locale.code)"
        >{{ locale.name }}</nuxt-link
      >
    </div>
  </footer>
</template>

<script>
export default {
  computed: {
    availableLocales() {
      return this.$i18n.locales.filter(i => i.code !== this.$i18n.locale)
    }
  }
}
</script>
