<template>
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">{{ project }}</p>
    </header>
    <div class="card-content">
      <div class="content">
        {{ title }}
        <br />
        <time class="is-italic is-size-7" :datetime="createdAt.toISOString()"
          >{{ $t('open_since') }}
          {{ $d(createdAt, 'long', this.$i18n.locale) }}
        </time>
      </div>
    </div>
    <footer class="card-footer">
      <a class="card-footer-item" @click="isModalActive = true">{{
        $t('view_more')
      }}</a>
      <a :href="url" target="_blank" class="card-footer-item">{{
        $t('go_for_it')
      }}</a>
    </footer>
    <b-modal :active.sync="isModalActive" has-modal-card>
      <issue-modal v-bind="$props"></issue-modal>
    </b-modal>
  </div>
</template>

<script>
import IssueModal from './IssueModal.vue'

export default {
  name: 'Issue',
  components: {
    IssueModal
  },
  props: {
    project: {
      type: String,
      required: true
    },
    title: {
      type: String,
      required: true
    },
    createdAt: {
      type: Date,
      required: true
    },
    url: {
      type: String,
      required: true
    },
    description: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      isModalActive: false
    }
  }
}
</script>
