<template>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">{{ title }}</p>
    </header>
    <section class="modal-card-body">
      <div class="is-size-6">
        {{ $t('in') }} <strong>{{ project }}</strong>
      </div>
      <time class="is-italic is-size-7" :datetime="createdAt.toISOString()"
        >{{ $t('open_since') }}
        {{ $d(createdAt, 'long', this.$i18n.locale) }}</time
      >
      <div class="description">
        <vue-markdown :source="description" />
      </div>
    </section>
    <footer class="modal-card-foot">
      <a class="button is-success" :href="url" target="_blank">{{
        $t('go_for_it')
      }}</a>
      <a class="button" @click="$parent.close()">{{ $t('close') }}</a>
    </footer>
  </div>
</template>

<script>
import VueMarkdown from 'vue-markdown'

export default {
  name: 'IssueModal',
  components: {
    VueMarkdown
  },
  props: {
    project: {
      type: String,
      required: true
    },
    title: {
      type: String,
      required: true
    },
    createdAt: {
      type: Date,
      required: true
    },
    url: {
      type: String,
      required: true
    },
    description: {
      type: String,
      required: true
    }
  }
}
</script>

<style scoped>
p.modal-card-title {
  flex-shrink: initial;
}

div.description {
  margin-top: 1rem;
  text-align: left;
}
</style>
