<template>
  <div id="app">
    <AppHeader />
    <AppBody />
    <AppFooter />
  </div>
</template>

<script>
import AppHeader from '~/components/AppHeader'
import AppBody from '~/components/AppBody'
import AppFooter from '~/components/AppFooter'

export default {
  name: 'HomePage',

  components: {
    AppHeader,
    AppBody,
    AppFooter
  }
}
</script>

<style>
#app {
  @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
  font-family: 'Open Sans', 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
